.skills {
    padding-top: 126px;

    &__title {
        position: relative;
        text-align: center;
        @include round_before;

        &::before {
            top: -5px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
        }
    }

    &__subtitle {
        text-align: center;
    }
    &__wrapper {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4,270px);
        grid-template-rows: repeat(auto, 270px );
        grid-auto-rows: 270px;
        gap: 13px;

    }
    &__item {
        padding: 30px 29px 25px 30px;
        border: 1px solid #000000;
        row-gap: 13px;
        column-gap:13px;
        transition: all 2s;
        &:hover{
            color: #fff;
            box-shadow: $main-color 0 0 30px 1px;
            background-color:#7c6754;
            color: #fff;
            transform: scale(1.05) skew(2deg, 0deg) translate(5px, 5px);
            -webkit-transform: scale(1.05) skew(2deg, 0deg) translate(5px, 5px);
            -moz-transform: scale(1.05) skew(2deg, 0deg) translate(5px, 5px);
            -ms-transform: scale(1.05) skew(2deg, 0deg) translate(5px, 5px);
            -o-transform: scale(1.05) skew(2deg, 0deg) translate(5px, 5px);
}
    }

    &__descr {
        font-size: 12px;
        line-height: 18px;
        color: #000000;
         
        
    }
    &__ratings {
        margin-top: 120px;
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, 350px);
        column-gap: 45px;
        row-gap: 35px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
           
        }
        
        &-title {
            position: relative;
            padding: 2px 0 0 13px;
            @include round_before;
            &::before {
                top: -6px;
            }
        }
        &-counter {
            font-size: 14px;
            line-height: 21px;
        }
        &-line {
            width: 350px;
            height: 14px;
            background-color: #b3afa9;;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    }
   
}
