.cards {
    width: 88%;
    padding: 13%;
    &:first-child {
        border-radius: 8px 8px 0 0;
    }
    &:last-child {
        border-radius: 0 0 8px 8px;
    }
}

.cards_title {
    padding-top: 48px;
    padding-bottom: 45px;
    font-size: 64px;
    font-family: 'Big Shoulders Display', cursive;
    color: $btns;
    text-transform: uppercase;
}

.cards_descr {
    color: $p;
    line-height: 35px;
    font-size: 24px;
}

.cards_sedan {
    background-color: $bg1;
}

.cards_suvs {
    background-color: $bg2;
}

.cards_luxury {
    background-color: $bg3;
}

.cards_btn {
    background-color: $btns;
    height: 80px;
    border-radius: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 36px;
    cursor: pointer;
    transition: all 0.25s ease;

    a {
        padding: 0 48px;
        font-size: 24px;
    }

    &:hover {
        background: none;
        border: 2px solid $btns;

        .link_sedan, .link_suvs, .link_luxury {
            color: $btns;
        }
    }
}

.link_sedan {
    color: $bg1;
}

.link_suvs {
    color: $bg2;
}

.link_luxury {
    color: $bg3;
}