@media screen and (min-width: 1440px) {
    body {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }

    .container {
        flex-direction: row;
        min-height: 100vh;
        width: 66%;
    }

    .cards {
        padding: 80px;
        &:first-child {
            border-radius: 16px 0 0 16px;
        }
        &:last-child {
            border-radius: 0 16px 16px 0;
        }
    }

    .cards_btn {
        margin-top: 136px;
    }
}
@media screen and (min-width: 660px){
    .cards {
        width: 80%;
        max-width: 960px;
        padding: 8%;
    }

    .cards_btn {
        margin-top: 80px;
    }
}